<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.shishc.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="icu.shishc.entity.Blog">
        <result column="blog_id" property="blogId"/>
        <result column="username" property="username"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="read_num" property="readNum"/>
        <result column="like_num" property="likeNum"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <select id="" resultMap="BaseResultMap" parameterType="java.lang.Integer"></select>

</mapper>
