<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.shishc.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="icu.shishc.entity.Blog">
        <result column="blog_id" property="blogId"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <!-- 对应枚举字段加上TypeHandler -->
        <result column="status" property="status" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="read_num" property="readNum"/>
        <result column="like_num" property="likeNum"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>


    <insert id="insert">
        INSERT INTO blog(user_id, title, content, status, gmt_create, gmt_modified)
            VALUES (${userId}, '${title}', '${content}', ${status}, now(), now())
    </insert>

    <update id="update">
        UPDATE blog SET title = '${title}',
                content = '${content}',
                status = ${status},
                gmt_modified = now()
        where blog_id = ${blog_id}
    </update>

    <delete id="delete">
        DELETE FROM blog WHERE blog_id = ${bid}
    </delete>

    <select id="getBlogSquare" resultMap="BaseResultMap">
        SELECT * FROM blog ORDER BY read_num
    </select>

    <select id="getBlogByUserId" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE user_id = ${userId} ORDER BY gmt_modified DESC
    </select>

    <select id="getBlogByTitle" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE title = '${title}'
    </select>

    <select id="getBlogByBID" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE blog_id = ${bid}
    </select>

    <select id="getPrevious" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE user_id = ${userId} AND blog_id &lt; ${bid} ORDER BY blog_id DESC LIMIT 1
    </select>

    <select id="getNext" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE user_id = ${userId} AND blog_id &gt; ${bid} ORDER BY blog_id LIMIT 1
    </select>

    <select id="getBlogByStatus" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE user_id = ${userId} AND status = ${status}
    </select>

<!--    <update id="addLike" parameterType="java.lang.Long">-->
<!--        UPDATE blog SET like_num = like_num + 1-->
<!--            WHERE blog_id = ${bid}-->
<!--    </update>-->

<!--    <update id="cancelLike">-->
<!--        UPDATE blog SET like_num = like_num - 1-->
<!--            WHERE blog_id = ${bid}-->
<!--    </update>-->

<!--    &lt;!&ndash; 注意ResultType 和 ResultMap &ndash;&gt;-->
<!--    <select id="getBlogByStatus" resultMap="BaseResultMap" parameterType="java.lang.Integer">-->
<!--        SELECT * FROM blog WHERE status = ${status}-->
<!--    </select>-->

<!--    <select id="getAllLike" resultType="java.lang.Integer" >-->
<!--        SELECT SUM(like_num) FROM blog-->
<!--    </select>-->

<!--    <select id="getAllReadNum" resultType="java.lang.Integer" >-->
<!--        SELECT SUM(read_num) FROM blog-->
<!--    </select>-->

<!--    <select id="getPrevious" resultMap="BaseResultMap" parameterType="java.lang.Long">-->
<!--        SELECT * FROM blog WHERE blog_id &lt; ${bid} ORDER BY blog_id DESC LIMIT 1-->
<!--    </select>-->

<!--    <select id="getNext" resultMap="BaseResultMap" parameterType="java.lang.Long">-->
<!--        SELECT * FROM blog WHERE blog_id &gt; ${bid} ORDER BY blog_id LIMIT 1-->
<!--    </select>-->

</mapper>
