<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.shishc.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="icu.shishc.entity.Blog">
        <result column="blog_id" property="blogId"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="read_num" property="readNum"/>
        <result column="like_num" property="likeNum"/>
        <result column="comment_num" property="commentNum"/>
        <result column="collection_num" property="collectionNum"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO blog(user_id, username, title, content, gmt_create, gmt_modified)
        VALUES (#{userId},  #{username} ,  #{title} ,  #{content} , now(), now())
    </insert>

    <update id="update">
        UPDATE blog SET title =  #{title} ,
        content =  #{content} ,
        gmt_modified = now()
        where blog_id = #{blog_id}
    </update>

    <update id="addALike" parameterType="java.lang.Long">
        UPDATE blog SET like_num = like_num + 1
        WHERE blog_id = #{bid}
    </update>

    <update id="addComment">
        UPDATE blog SET comment_num = comment_num + 1
    </update>

    <update id="addRead">
        UPDATE blog SET read_num = read_num + 1 WHERE blog_id = #{bid}
    </update>

    <update id="addCollection">
        UPDATE blog SET collection_num = collection_num + 1
    </update>

    <update id="cancelCollection">
        UPDATE blog SET collection_num = collection_num - 1
    </update>

    <update id="cancelComment">
        UPDATE blog SET comment_num = comment_num - #{count}
    </update>

    <delete id="delete">
    DELETE FROM blog WHERE blog_id = #{bid}
    </delete>

    <delete id="deleteByUser">
        DELETE FROM blog WHERE user_id = #{uid}
    </delete>

    <update id="cancelLikes">
        UPDATE blog SET like_num = like_num - #{count} WHERE blog_id = #{bid}
    </update>

    <update id="updateBlogNum">
        UPDATE blog SET collection_num = #{collectionNum},
        comment_num = #{commentNum}
        WHERE blog_id = #{bid}
    </update>

    <select id="getPrevious" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT * FROM blog WHERE blog.user_id = #{userId} AND blog_id &lt; #{bid} ORDER BY blog_id DESC LIMIT 1
    </select>

    <select id="getNext" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT * FROM blog WHERE blog.user_id = #{userId} AND blog_id &gt; #{bid} ORDER BY blog_id LIMIT 1
    </select>

    <select id="getBlogSquare" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE is_delete = 0 ORDER BY read_num DESC
    </select>

    <select id="getBlogByUserId" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE user_id = #{userId} ORDER BY gmt_modified DESC
    </select>

    <select id="getBlogByTitle" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE title = #{title}
    </select>

    <select id="getBlogByBID" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE blog_id = #{bid}
    </select>

    <select id="getBlogByList" resultMap="BaseResultMap">
        SELECT * FROM blog AND blog_id in
        <foreach item="item" collection="list" index="index"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getUserByBid" resultType="java.lang.Long">
        SELECT user_id FROM blog WHERE blog_id = #{bid}
    </select>

    <select id="getBlogSquareByTime" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE is_delete = 0 ORDER BY gmt_create DESC
    </select>

    <select id="fuzzyQueryBlog" resultMap="BaseResultMap">
        SELECT * FROM blog WHERE title like concat('%', #{title}, '%')
    </select>

</mapper>

