<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.shishc.mapper.PermsMapper">
    <resultMap id="BaseResultMap" type="icu.shishc.entity.Perms">
        <result column="user_identity" property="userIdentity" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="entity" property="entity"/>
        <result column="perm" property="perm"/>
    </resultMap>

    <select id="getUserPerms" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * FROM perms WHERE user_identity = #{identity}
    </select>

</mapper>
